<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.like.webview">

    <!-- 腾讯TBS -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 腾讯TBS完毕 -->

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!--Tbs视频播放器接入
        public static boolean canUseTbsPlayer(Context context)
        //判断当前Tbs播放器是否已经可以使用。
        public static void openVideo(Context context, String videoUrl)
        //直接调用播放接口，传入视频流的url
        public static void openVideo(Context context, String videoUrl, Bundle extraData)
        //extraData对象是根据定制需要传入约定的信息，没有需要可以传如null
        //extraData可以传入key: "screenMode", 值: 102, 来控制默认的播放UI
        //类似: extraData.putInt("screenMode", 102); 来实现默认全屏+控制栏等UI-->
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
