<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.like.webview">

    <!-- 腾讯TBS -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 腾讯TBS完毕 -->

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <!--享受页面视频的完整播放体验需要做如下声明 android:configChanges="orientation|screenSize|keyboardHidden"，这样不会重新创建Activity实例，会调用Activity的onConfigurationChanged()方法-->
        <!--避免输入法界面弹出后遮挡输入光标的问题 android:windowSoftInputMode="stateHidden|adjustResize"-->
        <activity
            android:name=".ui.SimpleWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--Tbs视频播放器接入
        public static boolean canUseTbsPlayer(Context context)
        //判断当前Tbs播放器是否已经可以使用。
        public static void openVideo(Context context, String videoUrl)
        //直接调用播放接口，传入视频流的url
        public static void openVideo(Context context, String videoUrl, Bundle extraData)
        //extraData对象是根据定制需要传入约定的信息，没有需要可以传如null
        //extraData可以传入key: "screenMode", 值: 102, 来控制默认的播放UI
        //类似: extraData.putInt("screenMode", 102); 来实现默认全屏+控制栏等UI-->
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--首次初始化冷启动优化，内核首次加载时优化Service声明-->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>

</manifest>
